<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RJ User</key>
	<dict>
		<key>Authenticated</key>
		<true/>
		<key>Username</key>
		<string>isaacezer</string>
		<key>First Name</key>
		<string>Isaac</string>
		<key>Last Name</key>
		<string>Ezer</string>
		<key>Premium</key>
		<true/>
		<key>Subscription End</key>
		<date>2010-11-30T15:00:00Z</date>
		<key>Allowed Offline Lessons</key>
		<integer>-1</integer>
		<key>Lessons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Hand To Hand</string>
				<key>Premium</key>
				<true/>
				<key>Marked For Offline Viewing</key>
				<false/>
				<key>Instructors</key>
				<array>
					<string>Dax Hock</string>
					<string>Alice Mei</string>
				</array>
				<key>Chapter Paths</key>
				<array>
					<string>http://localhost/rj/dax-alice-toulouse.m4v</string>
					<string>http://localhost/rj/alhc-2008-dax-alice.m4v</string>
				</array>
				<key>Chapter Titles</key>
				<array>
					<string>Hand To Hand</string>
					<string>Slip Slop Shim Sham</string>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Texas Tommy</string>
				<key>Premium</key>
				<false/>
				<key>Marked For Offline Viewing</key>
				<false/>
				<key>Instructors</key>
				<array>
					<string>Dax Hock</string>
					<string>Alice Mei</string>
				</array>
				<key>Chapter Paths</key>
				<array>
					<string>http://localhost/rj/dax-alice-toulouse.m4v</string>
					<string>http://localhost/rj/alhc-2008-dax-alice.m4v</string>
				</array>
				<key>Chapter Titles</key>
				<array>
					<string>Hand To Hand</string>
					<string>Slip Slop Shim Sham</string>
				</array>
			</dict>
		</array>
		<key>Playlists</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Sweet Choreography</string>
				<key>Marked For Offline Viewing</key>
				<false/>
				<key>Chapter Paths</key>
				<array>
					<string>http://localhost/rj/dax-alice-toulouse.m4v</string>
					<string>http://localhost/rj/alhc-2008-dax-alice.m4v</string>
				</array>
				<key>Chapter Titles</key>
				<array>
					<string>Hand To Hand</string>
					<string>Slip Slop Shim Sham</string>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Late Night Improv</string>
				<key>Instructors</key>
				<array>
					<string>Dax Hock</string>
					<string>Alice Mei</string>
				</array>
				<key>Chapter Paths</key>
				<array>
					<string>http://localhost/rj/dax-alice-toulouse.m4v</string>
					<string>http://localhost/rj/alhc-2008-dax-alice.m4v</string>
				</array>
				<key>Chapter Titles</key>
				<array>
					<string>Hand To Hand</string>
					<string>Slip Slop Shim Sham</string>
				</array>
			</dict>
		</array>
		<key>Lesson Plans</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Great for Beginners</string>
				<key>Lessons</key>
				<array>
					<dict>
						<key>Title</key>
						<string>Hand To Hand</string>
						<key>Premium</key>
						<true/>
						<key>Marked For Offline Viewing</key>
						<false/>
						<key>Instructors</key>
						<array>
							<string>Dax Hock</string>
							<string>Alice Mei</string>
						</array>
						<key>Chapter Paths</key>
						<array>
							<string>http://localhost/rj/dax-alice-toulouse.m4v</string>
							<string>http://localhost/rj/alhc-2008-dax-alice.m4v</string>
						</array>
						<key>Chapter Titles</key>
						<array>
							<string>Hand To Hand</string>
							<string>Slip Slop Shim Sham</string>
						</array>
					</dict>
					<dict>
						<key>Title</key>
						<string>Texas Tommy</string>
						<key>Premium</key>
						<false/>
						<key>Marked For Offline Viewing</key>
						<false/>
						<key>Instructors</key>
						<array>
							<string>Dax Hock</string>
							<string>Alice Mei</string>
						</array>
						<key>Chapter Paths</key>
						<array>
							<string>http://localhost/rj/dax-alice-toulouse.m4v</string>
							<string>http://localhost/rj/alhc-2008-dax-alice.m4v</string>
						</array>
						<key>Chapter Titles</key>
						<array>
							<string>Hand To Hand</string>
							<string>Slip Slop Shim Sham</string>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Great for Beginners</string>
				<key>Lessons</key>
				<array>
					<dict>
						<key>Title</key>
						<string>Hand To Hand</string>
						<key>Premium</key>
						<true/>
						<key>Marked For Offline Viewing</key>
						<false/>
						<key>Instructors</key>
						<array>
							<string>Dax Hock</string>
							<string>Alice Mei</string>
						</array>
						<key>Chapter Paths</key>
						<array>
							<string>http://localhost/rj/dax-alice-toulouse.m4v</string>
							<string>http://localhost/rj/alhc-2008-dax-alice.m4v</string>
						</array>
						<key>Chapter Titles</key>
						<array>
							<string>Hand To Hand</string>
							<string>Slip Slop Shim Sham</string>
						</array>
					</dict>
					<dict>
						<key>Title</key>
						<string>Texas Tommy</string>
						<key>Premium</key>
						<false/>
						<key>Marked For Offline Viewing</key>
						<false/>
						<key>Instructors</key>
						<array>
							<string>Dax Hock</string>
							<string>Alice Mei</string>
						</array>
						<key>Chapter Paths</key>
						<array>
							<string>http://localhost/rj/dax-alice-toulouse.m4v</string>
							<string>http://localhost/rj/alhc-2008-dax-alice.m4v</string>
						</array>
						<key>Chapter Titles</key>
						<array>
							<string>Hand To Hand</string>
							<string>Slip Slop Shim Sham</string>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
